name: Test Package
on:
  pull_request:
    branches:
      - '**'

concurrency:
  group: tests-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test_matrix:
    strategy:
      fail-fast: true
      matrix:
        version:
          - 18
          - 20
    name: test and build package (node ${{ matrix.version }})
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: ${{ matrix.version }}
      - run: npm ci
      - run: npm run test:ci

  test_all:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    name: Test (matrix)
    needs: test_matrix
    steps:
      - name: Check test matrix status
        if: ${{ needs.test_matrix.result != 'success' }}
        run: exit 1
